<html layout:decorator="layout">
    <div layout:fragment="content">
        <form method="post" name="comment_form" id="comment_form" action="/employees/update" role="form">
            <div class="form-group">
                <label for="name">Department</label>
                <textarea rows="1" class="form-control" id="department" name="department" th:text="${employee.department}"/>
                <label for="name">Location</label>
                <textarea rows="1" class="form-control" id="location" name="location" th:text="${employee.location}"/>
            </div>
            <input type="hidden" id="employee_id" rows="2" class="form-control" name="employee_id" th:value="${employee.id}"/>
            <input type="hidden" id="employee_name" rows="3" class="form-control" name="employee_name" th:value="${employee.name}"/>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</html>